body {
    font-family: monospace;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

#welcome-section {
    height: 100px;
}

.intro {
    min-height: 55vh;
    padding-top: 45vh;
    
}

.intro p {
    font-size: 18px;
}

nav ul {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #417b5a;
    border-color: black;
    border-style: solid;
    border-top: 2px;
    border-left: 0px;
    border-right: 0px;
}

body{
    background-color: #93C9AA;
}


nav ul li {
    display: inline-block;
    margin: 25px;
    margin-bottom: 15px;
    margin-bottom: 25px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: black;
    color: white;
    text-decoration: underline
}

.work {
    padding-top: 10px;
}

.work .text-header {
    color: black;
    font-weight: normal;
}

.text-header {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    padding: 20px
}

.project {
    text-decoration: none;
    color: black;
    background-color: #417b5a;
    display: inline-block;
    overflow: hidden;
    border: 2px solid black;
    margin: 20px 40px;
    transition: all 0.3s ease-in;
}

.project:hover {
    color: white; 
    transform: scale(1.1); 
    transition: all 0.3s ease-in-out; 
    cursor: pointer; 
    text-decoration: underline;
}

.project-title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 500px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        margin: 20px;
    }

    .project {
        margin: 40px 0;
    }
}

.contact {
    /* heigh:800px; */
    /*min-height: 800px; */
    padding-bottom: 160px;
    margin-top: 20px;
}

.header {
    padding: 100px 0 110px;
}

.contact-details {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    transition: all 0.3s ease-in-out;
}

.contact-details:hover {
    color: white;
    background-color: black;
    text-decoration: underline;
}

footer {
    padding: 20px;
    line-height: 40px;
    padding-top: 20px;
}

@media only screen and (max-width: 367px) {
    .contact-details {
        border: 2px solid #90C695;
        border-radius: 0;
        width: 90px;
        height: 20px;
        padding: 10px;
        line-height: normal;
    }
}

