<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timestamp Microservice</title>
  <link href="output.css" rel="stylesheet" type="text/css">
</head>

<body class="bg-purple-100">
  <div class="container mx-auto p-2 md:p-6 lg:p-8">
    <h1 class="text-2xl md:text-4xl font-bold text-purple-500 mb-4">Timestamp Microservice</h1>


    <div class="container ">
      <section class="mb-4 md:mb-8">
        <h2 class="text-lg md:text-xl font-semibold mb-2">Example Usage:</h2>
        <p>
          <a href="api/2015-12-25" class="text-purple-500 hover:underline">[project url]/api/2015-12-25</a>
        </p>
        <p>
          <a href="api/1451001600000" class="text-purple-500 hover:underline">[project url]/api/1451001600000</a>
        </p>
      </section>

      <section>
        <h2 class="text-lg md:text-xl font-semibold mb-2">Example Output:</h2>
        <p class="bg-purple-200 p-2 md:p-4 rounded-md text-sm font-mono">
          {
          "unix": 1451001600000,
          "utc": "Fri, 25 Dec 2015 00:00:00 GMT"
          }
        </p>
      </section>
    </div>
  </div>
</body>

</html>