<!DOCTYPE html>
<html>

<head>
  <title>American/British English Translator</title>
  <meta name="description" content="An example for the fCC QA American/British English Translator project" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
    type="image/x-icon">
  <link href="../public/output.css" rel="stylesheet">
  <link href="../public/style.css" rel="stylesheet">
</head>

<body class="bg-sky-50 flex flex-col justify-center items-center">
  <header class="mb-4 p-6">
    <h1 class="text-2xl md:text-4xl font-bold text-sky-500 mt-4">American / British English Translator</h1>
  </header>

  <div class="container mx-auto flex flex-col md:flex-row justify-center items-start md:items-stretch p-4">
    <div
      class="w-full md:w-1/2 bg-sky-200 border-sky-500 border-dashed border-4 p-2 rounded md:mr-4 mb-4 md:mb-0 flex-1">
      <div class="flex flex-col space-y-2">
        <p class="font-bold text-xl mb-2">Input Text</p>
        <textarea rows="10" cols="60" id="text-input"
          class="p-2 rounded text-sm font-mono border-4 border-dashed border-gray-300 focus:border-sky-500 focus:bg-sky-50 outline-none  min-w-[200px] min-h-[100px]  max-h-[400px]"
          placeholder="Enter text..."></textarea>


        <div class="flex items-center space-x-3 text-sm">
          <select id="locale-select" class="p-1 rounded outline-none">
            <option value="american-to-british">American to British</option>
            <option value="british-to-american">British to American</option>
          </select>
          <button id="translate-btn"
            class="p-1 bg-sky-500 text-white rounded hover:bg-sky-600 focus:outline-none text-sm">Translate</button>
        </div>
      </div>
    </div>
    <div id="output-container flex-1"
      class="w-full md:w-1/2  bg-sky-200 border-sky-500 border-dashed border-4 p-2 rounded flex flex-col">
      <p class="font-bold text-xl mb-4">Translated Sentence</p>
      <div id="solution-container"
        class="bg-yellow-100 border-dashed border-4 border-yellow-300 hover:border-yellow-400 hover:bg-yellow-200 rounded-md w-full h-full">
        <div id="translated-sentence" class="p-2 md:p-4 rounded-md text-sm font-mono">
        </div>
        <div id="error-msg" class="text-red-600  p-2 md:p-4 rounded-md text-sm font-mono">
        </div>
      </div>

    </div>
  </div>
  <script src="../public/index.js"></script>
</body>

</html>