body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #20303f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    margin-bottom: 15px;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}

.input-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #fff;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

input[type="text"]:focus {
    outline: none;
    border-color: #43aa8b;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #43aa8b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4d908e;
}

#results-div {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    color: #333;
    font-size: 18px;
    text-align: center;
}