<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise Tracker</title>
  <link href="output.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg-indigo-50">
  <div class="container mx-auto p-6 text-center">
    <h1 class="text-4xl font-semibold text-indigo-500 mb-4">Exercise Tracker</h1>

    <form action="/api/users" method="post" class="mb-8">
      <h2 class="text-xl font-semibold mb-2">Create a New User</h2>
      <p class="mb-2 bg-indigo-100 p-2 rounded-md"><code>POST /api/users</code></p>
      <input id="uname" type="text" name="username" placeholder="Username"
        class="px-4 py-2 border border-gray-300 rounded-md w-1/2 md:w-1/4 lg:w-1/6 mb-2" />
      <div class="w-full flex items-center justify-center">
        <input type="submit" value="Create User"
          class="px-4 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 transition duration-300 ease-in-out" />
      </div>
    </form>

    <form id="exercise-form" method="post" class="mb-8">
      <h2 class="text-xl font-semibold mb-2">Add Exercises</h2>
      <p class="mb-2 bg-indigo-100 p-2 rounded-md"><code>POST /api/users/:_id/exercises</code></p>
      <div class="flex flex-col items-center">
        <input id="uid" type="text" name=":_id" placeholder=":_id"
          class="px-4 py-2 border border-gray-300 rounded-md w-1/2 md:w-1/4 lg:w-1/6 mb-2" />
        <input id="desc" type="text" name="description" placeholder="Description*"
          class="px-4 py-2 border border-gray-300 rounded-md w-1/2 md:w-1/4 lg:w-1/6 mb-2" />
        <input id="dur" type="text" name="duration" placeholder="Duration* (mins.)"
          class="px-4 py-2 border border-gray-300 rounded-md w-1/2 md:w-1/4 lg:w-1/6 mb-2" />
        <input id="date" type="text" name="date" placeholder="Date (yyyy-mm-dd)"
          class="px-4 py-2 border border-gray-300 rounded-md w-1/2 md:w-1/4 lg:w-1/6 mb-2" />
      </div>
      <div class="w-full flex items-center justify-center">
        <input type="submit" value="Add Exercise Log"
          class="px-4 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 transition duration-300 ease-in-out" />
      </div>
    </form>

    <div class="bg-indigo-100 p-2 rounded-md">
      <p class="mb-2">
        <strong>GET user's exercise log:</strong>
        <code>GET /api/users/:_id/logs?[from][&to][&limit]</code>
      </p>
      <p class="mb-2"><strong>[ ]</strong> = optional</p>
      <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
    </div>
  </div>


  <script>
    const exerciseForm = document.getElementById("exercise-form");

    exerciseForm.addEventListener("submit", () => {
      const userId = document.getElementById("uid").value;
      exerciseForm.action = `/api/users/${userId}/exercises`;

      exerciseForm.submit();
    });
  </script>
</body>

</html>